body {
    color:white;
    background: black;
    font-family: "Chakra Petch", sans-serif;
}

header{
    border-bottom: solid 2px pink;
    padding: 20px;
    font-size: 32px;
    color: pink;
}

section{
    background:rgb(167 47 161);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img {
    height: 200px;
  }